#wpcontent {
    padding: 0 !important;
}

.jkit-dashboard-settings {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    height: 90vh;
    padding: .5em 2em;
    margin: 2em auto;
    border-radius: .5em;
    background-color: #f5f5f5;
    box-shadow: 0 0 .5em #e1e1e1;
    direction: rtl;
    text-align: right;
    overflow-y: auto;

}

.jkit-dashboard-settings .title {
    text-align: center;
    font-weight: 900;
}

.jkit-dashboard-settings div.plugin-desc {
    margin: 1em 0;
    background-color: #fff;
    padding: 2em;
    border-radius: .5em;
    text-align: center;

}

.jkit-dashboard-settings div.plugin-button {
    margin: 1em 0;
    background-color: #444;
    color: #fff;
    font-weight: 900;
    padding: 1em;
    border-radius: .5em;
    text-align: center;
    height: fit-content;
    cursor: pointer;
}




.jkit-dashboard-settings .plugin-detail {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 2em;
}

.jkit-dashboard-settings .plugin-detail>* {
    flex: 1;
}

@media (min-width: 640px) {}

@media (max-width: 768px) {
    .jkit-dashboard-settings div.plugin-desc {
        padding: 1em;
    }
}

@media (min-width: 1024px) {}

@media (min-width: 1200px) {}


